#message-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.message-box {
	background: #D6CBC2;
	min-width: 45vw;
	max-width: 65vw;
	min-height: 35vh;
	border: 2vh solid #3A3622;
	flex-direction: column;
	position: relative;
}

.message-area {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.6em;
}

.message-title {
	font-size: 1.4em;
	text-align: left;
	width: 100%;
}

.message-subtitle {
	font-size: 0.8em;
	text-align: left;
	width: 100%;
}

.message-text {
	text-align: left;
	width: 100%;
}

.message-close {
	width: 8vh;
	height: 8vh;
	position: absolute;
	right: -4vh;
	top: -4vh;
	border: 0;
	padding: 0;
}

.message-close:active {
	box-shadow: initial;
	transform: initial;
}

.dialog-checkboxes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

input[type="checkbox"] {
	appearance: none;
	height: 2lh;
	aspect-ratio: 1;
	border: 0.5vh #3A3622 solid;
	border-radius: 1vh;
}

input[type="checkbox"]:checked {
	mask-image: var(--checkbox-checked);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: #3A3622;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.settings-main {
	padding-top: 1vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1vh;
}

.settings-bottom {
	padding: 1vh 0;
	width: 100%;
}
