#message-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.message-box {
	border-width: 2vh;
	border-style: solid;
	min-width: 45vw;
	max-width: 65vw;
	min-height: 35vh;
	max-height: 75vh;
	flex-direction: column;
	position: relative;
}

.message-area {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.6em;
	margin-bottom: 1vh;
}

.message-title {
	font-size: 1.4em;
	text-align: left;
	width: 100%;
}

.message-subtitle {
	font-size: 0.8em;
	text-align: left;
	width: 100%;
}

.message-text {
	text-align: left;
	width: 100%;
	overflow: scroll;
}

.message-text h1 {
	font-size: 1.1em;
	margin-bottom: 1vh;
}

.message-text a {
	text-decoration: none;
}

.message-close {
	width: 8vh;
	height: 8vh;
	position: absolute;
	right: -4vh;
	top: -4vh;
	border: 0;
	padding: 0;
}

.message-close:active {
	box-shadow: initial;
	transform: initial;
}

.dialog-checkboxes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

input[type="checkbox"] {
	appearance: none;
	height: 2lh;
	aspect-ratio: 1;
	border-radius: 1vh;
	border-width: 0.5vh;
	border-style: solid;
}

input[type="checkbox"]:checked {
	mask-image: var(--checkbox-checked);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

select {
	appearance: none;
	font: inherit;
	text-transform: inherit;
	font-size: 4cqh;
	color: inherit;
	background-color: inherit;
	border-radius: 1vh;
	border-width: 0.75vh;
	border-style: solid;
	padding-left: 0.5vh;
	padding-right: 5vh;
	min-height: 6vh;
	max-width: 100%;
}

.select-container {
	text-align: left;
}

.select-wrapper {
	display: inline-block;
	position: relative;
	max-width: 100%;
}

.select-wrapper::after {
	content: "";
	mask-image: var(--dropdown-arrow);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	position: absolute;
	right: 0;
	top: 0;
	padding: 3vh;
	pointer-events: none;
}

.select-label {
	font-size: 80%;
	padding-left: 1.25vh;
}

.settings-main {
	padding-top: 1vh;
}

.settings-top {
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

@media (min-width: 600px) {
	.settings-top {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 1vh;
		column-gap: 0;
	}
}

.settings-bottom {
	padding: 1vh 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1vh;
}
