body {
	background-color: var(--color-dark);
}

#loading {
	background-color: var(--color-dark);
}

#loading .graphic {
	background-color: var(--color-highlight);
}

.light {
	color: var(--color-dark);
}

.dark {
	color: var(--color-light);
}

.good {
	color: var(--color-highlight);
	text-shadow: 0 0 4px var(--color-dark);
}

.bad {
	color: #E53935;
	text-shadow: 0 0 4px var(--color-dark);
}

#timer {
	background-color: var(--color-medium);
}

#question {
	background-color: var(--color-light);
}

.question-image-mask {
	background-color: var(--color-dark);
}

#progress {
	background-color: var(--color-medium);
}

#collection {
	background-color: var(--color-light);
}

.collected {
	background-color: var(--color-medium);
}

.collected-number {
	background-color: rgba(from var(--color-light) r g b / 0.375);
}

#answer {
	background-color: var(--color-highlight);
}

#answer-field {
	color: var(--color-dark);
	background-color: var(--color-light);
}

#options {
	background-color: var(--color-medium);
}

.option {
	background-color: var(--color-light);
	color: var(--color-dark);
	border-color: var(--color-dark);
}

.option div {
	background-color: var(--color-dark);
}

#settings {
	background-color: var(--color-medium);
}

.message-box {
	background-color: var(--color-light);
	border-color: var(--color-dark);
}

input[type="checkbox"] {
	border-color: var(--color-dark);
}

input[type="checkbox"]:checked {
	background-color: var(--color-dark);
}

select {
	border-color: var(--color-dark);
}

.select-wrapper::after {
	background-color: var(--color-dark);
}

option {
	background-color: var(--color-light);
}
