html {
	padding-bottom: env(safe-area-inset-bottom);
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "Passion One", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #3A3622;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #3A3622;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.5s;
}

#loading .graphic {
	width: 50%;
	height: 50%;
	background-color: #2CC3BE;
	mask-image: url("./loading.png");
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	animation: spin 0.5s linear infinite;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#main {
	width: 100%;
	height: 100%;
	padding: 2vh;
	display: flex;
	flex-direction: column;
	gap: 2vh;
	box-sizing: border-box;
}

.card {
	padding: 2vh;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 5cqh;
}

.light {
	color: #3A3622;
}

.dark {
	color: #D6CBC2;
}

.button-area {
	display: flex;
	flex-direction: row;
	gap: 2vw;
}

.button-column {
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

#top {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	gap: 2vh;
	min-height: 0;
}

#left {
	display: flex;
	flex-direction: column;
	gap: 2vh;
	width: 100%;
}

#timer {
	background-color: #6A4606;
	min-height: 3vh;
	max-height: 3vh;
}

#question {
	background-color: #D6CBC2;
	height: 100%;
	flex-direction: column;
	gap: 5vh;
}

.question-number {
	font-size: 15cqh;
}

#question-image img {
	min-height: 25vh;
	max-height: 25vh;
}

.giveup-x {
	animation: giveup-x 0.25s cubic-bezier(0.37, 0, 0.63, 1) forwards;
}

.giveup-y {
	animation: giveup-y 0.25s cubic-bezier(0.37, 0, 0.63, 1) forwards;
	animation-delay: -0.05s;
}

#right {
	display: flex;
	flex-direction: column;
	gap: 2vh;
	min-width: min(16vw, 16vh);
	max-width: min(16vw, 16vh);
	max-height: 100%;
}

#progress {
	background-color: #6A4606;
	min-height: 7vh;
	max-height: 7vh;
	font-size: 3cqh;
	overflow: hidden;
	padding: 0;
}

#collection {
	background-color: #D6CBC2;
	flex-grow: 1;
	padding: 0;
	min-height: 0;
}

#collection-container {
	min-height: calc(100% - min(2vw, 2vh));
	max-height: calc(100% - min(2vw, 2vh));
	display: flex;
	flex-direction: column;
	gap: 1vh;
	justify-content: flex-start;
	mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	width: 100%;
	padding: min(1vw, 1vh);
	overflow: auto;
}

.collected {
	background-color: #3A3622;
	width: 100%;
	aspect-ratio: 1;
	position: relative;
	transition: opacity 0.25s ease-in;
	animation: bubble-in 0.25s ease-out forwards;
	background-size: 120%;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
}

.collected-number {
	background-color: #D6CBC288;
	font-size: min(5cqw, 5cqh);
	line-height: min(4vw, 4vh);
	border-radius: min(1vw, 1vh);
	padding: min(0.2vw, 0.2vh);
	position: absolute;
	right: min(0.5vw, 0.5vh);
	bottom: min(0.5vw, 0.5vh);
	user-select: none;
}

.small-symbol {
	font-size: 0.6em;
	display: inline-block;
	vertical-align: top;
	line-height: 1;
}

#answer {
	background-color: #2CC3BE;
	min-height: 11vh;
	max-height: 11vh;
	font-size: 4cqh;
}

#answer-field {
	font: inherit;
	font-size: 5cqh;
	width: 80%;
	color: #3A3622;
	background-color: #D6CBC2;
	border: none;
	outline: none;
	border-radius: 10px;
}

#answer-field:focus {
	box-shadow: 0 0 10px 0 white;
}

#bottom {
	display: flex;
	flex-direction: row;
	gap: 2vh;
	min-height: 14vh;
	max-height: 14vh;
}

#options {
	background-color: #6A4606;
	width: 100%;
}

.option {
	background-color: #D6CBC2;
	color: #3A3622;
	border: 1vh #3A3622 solid;
	border-radius: 1vh;
	padding: 1vh;
	cursor: pointer;
	user-select: none;
	display: inline-block;
	min-width: 6vh;
	height: 1lh;
	position: relative;
	margin-inline: auto;
}

.option div {
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: #3A3622;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.button-column .option {
	min-width: 0;
	aspect-ratio: 1;
	height: 0.5lh;
	border-radius: 1vh;
}

.option:active {
	box-shadow: 0 0 5px 0.5vh black;
	transform: scale(90%);
}

#settings {
	background-color: #6A4606;
	padding: 1vh;
}

#message-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.message-box {
	background: #D6CBC2;
	min-width: 45vw;
	max-width: 65vw;
	min-height: 35vh;
	border: 2vh solid #3A3622;
	flex-direction: column;
	position: relative;
}

.message-area {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.6em;
}

.message-title {
	font-size: 1.4em;
	text-align: left;
	width: 100%;
}

.message-subtitle {
	font-size: 0.8em;
	text-align: left;
	width: 100%;
}

.message-text {
	text-align: left;
	width: 100%;
}

.message-close {
	width: 8vh;
	height: 8vh;
	position: absolute;
	right: -4vh;
	top: -4vh;
	border: 0;
	padding: 0;
}

.message-close:active {
	box-shadow: initial;
	transform: initial;
}

.dialog-choice {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

input[type="checkbox"] {
	appearance: none;
	height: 2lh;
	aspect-ratio: 1;
	border: 0.5vh #3A3622 solid;
	border-radius: 1vh;
	cursor: pointer;
}

input[type="checkbox"]:checked {
	mask-image: url("./checkbox-marked.png");
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: #3A3622;
}

.jitter {
	animation: jitter 0.1s infinite;
}

@keyframes bubble-in {
	0% { transform: scale(0); }
	75% { transform: scale(1.25); }
	100% { transform: scale(1); }
}

@keyframes giveup-x {
	0% { transform: translateX(-2vh); }
	50% { transform: translateX(2vh); }
	100% { transform: translateX(0); }
}

@keyframes giveup-y {
	0% { transform: translateY(-2vh); }
	50% { transform: translateY(2vh); }
	100% { transform: translateY(0); }
}

@keyframes jitter {
	0% { transform: translate(0, 0); }
	10% { transform: translate(-2px, -2px); }
	20% { transform: translate(2px, 1px); }
	30% { transform: translate(-1px, 2px); }
	40% { transform: translate(1px, -1px); }
	50% { transform: translate(-2px, 1px); }
	60% { transform: translate(2px, -1px); }
	70% { transform: translate(-1px, -2px); }
	80% { transform: translate(1px, 2px); }
	90% { transform: translate(-2px, -1px); }
	100% { transform: translate(0, 0); }
}